@import '~office-ui-fabric-react/dist/sass/References.scss';

.container{
  display:flex;
  border:5px solid goldenrod;
  flex-wrap: wrap;
}

.box{
 width:300px;
 min-height:300px;
 font-size: 25px;
 color:white;
 padding:20px;
 
 
}